{% extends 'base.html'%}
{% load bootstrap %}
{% block main%}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Gestão de Estoque</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alternar navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'core_home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core_produtos' %}">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core_ingredientes' %}">Ingredientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Configurações</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Conteúdo da página principal -->
    <div class="container mt-5">
        <div class="row">
            <!-- Painel de informações do estoque -->
            <div class="col-md-4">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">Total de Produtos</div>
                    <div class="card-body">
                        <h5 class="card-title">50 Itens</h5>
                        <p class="card-text">Este é o número total de produtos em estoque.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">Produtos Disponíveis</div>
                    <div class="card-body">
                        <h5 class="card-title">30 Itens</h5>
                        <p class="card-text">Quantidade de produtos disponíveis para venda.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-header">Produtos Baixos</div>
                    <div class="card-body">
                        <h5 class="card-title">5 Itens</h5>
                        <p class="card-text">Produtos que estão quase no estoque mínimo.</p>
                    </div>
                </div>
            </div>
        </div>
        <form method="get" action="{% url 'core_home'%}">
            {{ form|bootstrap}}
            <button type="submit">Pesquisar</button>
        </form>
        <!-- Tabela de produtos em estoque -->
        <div class="table-responsive mt-3">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome do Produto</th>
                        <th>Preço unitario</th>
                        <th>Em Estoque</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td>{{produto.id}}</td>
                        <td>{{produto.nome}}</td>
                        <td>{{produto.preco_unitario}}</td>
                        <td>{{produto.min_estoque}}</td>
                        <td>
                            <form method="POST" action="{% url 'core_adicionar_quantidade' produto.id %}">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                      <!-- Input de Quantidade -->
                                    <input type="number" name="quantidade" class="form-control" placeholder="Quantidade" min="1" required>
                                    <!-- Botão Adicionar -->
                                    <button type="submit" class="btn btn-info btn-sm">Adicionar</button>
                                </div>
                            </form>
                            <form method="POST" action="{% url 'core_adicionar_ingrediente' produto.id %}">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <!-- Input de Quantidade -->
                                    <input type="number" name="quantidade" class="form-control" placeholder="Quantidade" min="1" required>
                                    <!-- Botão Adicionar -->
                                    <button type="submit" class="btn btn-success">Vender</button>
                                </div>
                            </form>
                            <form method="POST" action="{% url 'core_adicionar_ingrediente' produto.id %}">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <!-- Input de Quantidade -->
                                    <input type="number" name="quantidade" class="form-control" placeholder="Quantidade" min="1" required>
                                    <!-- Botão Adicionar -->
                                    <button type="submit" class="btn btn-danger">Excluir</button>
                                </div>
                            </form>
                        </td>

                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">Nenhum resultado encontrado.</td>
                    </tr>
                {% endfor%}
                </tbody>
            </table>
        </div>
        {% include 'core/paginacao.html' %}

        <!-- Botões de Ação -->
        <div class="mt-4">
            <a href="#" class="btn btn-primary">Adicionar Produto</a>
            <a href="#" class="btn btn-warning">Relatório de Vendas</a>
        </div>
    </div>
{% endblock %}
